/* Tết theme CSS */
.btn {
    width: 150px;
    background-color: #ffcc00;
    color: #800000;
    font-weight: bold;
    border-radius: 5px;
}

.content {
    padding-left: 20px;
    background-color: #fff7e6;
    border: 1px solid #ffa500;
    border-radius: 10px;
}

.page_title {
    font-weight: 700;
    font-size: 2em;
    color: #b22222;
    text-align: center;
    margin-bottom: 20px;
}

form label {
    padding-top: 10px;
    font-size: 1.2em;
    color: #d2691e;
}

form label.required:after {
    color: red;
    content: " *";
}

input[type="checkbox" i] {
    width: 1.2em;
    height: 1.2em;
    accent-color: #ff4500;
}

.select2-container--default .select2-selection--multiple {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: rgb(73, 80, 87);
    background-color: rgb(255, 250, 240);
    background-clip: padding-box;
    border: 2px solid #ff8c00;
    border-radius: 0.5rem;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

td, th {
    text-align: center;
    color: #8b0000;
    font-weight: bold;
    border: 1px solid #ffa07a;
}

@media (min-width: 992px) {
    .expand-lg {
        display: block !important;
        background-color: #ffefd5;
    }
}

